<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493971650927-etcn5ps0es447arga1214airggdklbmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493971650927-etcn5ps0es447arga1214airggdklbmr</string>
	<key>API_KEY</key>
	<string>AIzaSyDhelzJSpJQjyFPW-cm256i0yXeJVEwgak</string>
	<key>GCM_SENDER_ID</key>
	<string>493971650927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ventures.darkwolf.janet-talks</string>
	<key>PROJECT_ID</key>
	<string>relationship-talks-c199f</string>
	<key>STORAGE_BUCKET</key>
	<string>relationship-talks-c199f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493971650927:ios:11c1c9556dcd6a9f1fd09a</string>
</dict>
</plist>